@inherits ArticleBase

<a href="article/@FileInfo.GithubPath" class="card bg-dark text-light" style="text-decoration: none;">
  <div class="card-body">
    <h5 class="card-title">@FileInfo.Title</h5>
    <p class="card-text">@FileInfo.Description</p>
  </div>
</a>