@page "/dotnet"
@inherits DotnetBase

@if (ArticleFiles is null)
{
  <div>
    <SpinnerIndicator />
  </div>
}
else
{
  <div>
    <ArticleCards ArticleFiles=@ArticleFiles />
  </div>
}
