@page "/"
@page "/index"
@inherits IndexBase

@if (ArticleFiles is null)
{
  <div class="col">
    <SpinnerIndicator />
  </div>
}
else
{
  <div>
    <ArticleCards ArticleFiles=@ArticleFiles />
  </div>
}
