@page "/dotnet"
@inject IJSRuntime JSRuntime;

@if (Articles is null)
{
    <div>
        <SpinnerIndicator />
    </div>
}
else
{
    <div>
        <Articles Files=@Articles/>
    </div>
}

@code {
    private List<Application.Shared.Models.FileInfo> Articles { get; set; }
    public GithubHandler _githubHandler = new GithubHandler();

    protected override async Task OnInitializedAsync()
    {
        await JSRuntime.InvokeVoidAsync("setTitle", ".NET");
        Articles = await _githubHandler.GetArticlesAsync("dotnet");
    }
}