@page "/dotnet"
@inject HttpClient Http
@inject IJSRuntime JSRuntime;

@if (MarkDownDocument == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @((MarkupString)MarkDownDocument)
}

@code {
    private string MarkDownDocument;

    protected override async Task OnInitializedAsync()
    {
        await JSRuntime.InvokeVoidAsync("setTitle", ".NET");
        var markdownParser = new MarkdownParser(Http);
        MarkDownDocument = await markdownParser.ParseToHtmlAsync("/dotnet/dotnet.md");
    }
}
