@page "/dotnet"
@inject IJSRuntime JSRuntime;

@if (_articles is null)
{
    <div>
        <SpinnerIndicator />
    </div>
}
else
{
    <div>
        <Articles Files=@_articles/>
    </div>
}

@code {
    private List<FileInfo> _articles;
    private GithubHandler _githubHandler;

    protected override async Task OnInitializedAsync()
    {
        _githubHandler = new GithubHandler();

        await JSRuntime.InvokeVoidAsync("setTitle", ".NET");
        _articles = await _githubHandler.GetArticlesAsync("dotnet");
    }
}