@page "/"
@inherits IndexBase

@if (MarkDownDocument == null)
{
  <div class="col">
    <SpinnerIndicator />
  </div>
}
else
{
  <div class="col">
    @((MarkupString)MarkDownDocument)
  </div>
}

<GithubButtons />