@page "/linux"
@inject IJSRuntime JSRuntime

@if (Articles is null)
{
    <div>
        <SpinnerIndicator />
    </div>
}
else
{
    <div>
        <Articles Files=@Articles/>
    </div>
}

@code {
    private List<Application.Shared.Models.FileInfo> Articles { get; set; }
    private GithubHandler _githubHandler = new GithubHandler();

    protected override async Task OnInitializedAsync()
    {
        await JSRuntime.InvokeVoidAsync("setTitle", "Linux");
        Articles = await _githubHandler.GetArticlesAsync("linux");
    }
}