@page "/linux"
@inject IJSRuntime JSRuntime

@if (_articles is null)
{
    <div>
        <SpinnerIndicator />
    </div>
}
else
{
    <div>
        <Articles Files=@_articles/>
    </div>
}

@code {
    private List<FileInfo> _articles;
    private GithubHandler _githubHandler = new GithubHandler();

    protected override async Task OnInitializedAsync()
    {
        await JSRuntime.InvokeVoidAsync("setTitle", "Linux");
        _articles = await _githubHandler.GetArticlesAsync("linux");
    }
}