@inherits ArticleCardBase

<a href="@ArticleFileInfo.Path/@ArticleFileInfo.FileName" class="card bg-dark text-light"
  style="text-decoration: none;">
  <div class="card-body">
    <h5 class="card-title">@ArticleFileInfo.Title</h5>
    <p class="card-text">@ArticleFileInfo.Description</p>
  </div>
</a>
