<div class="col d-flex justify-content-center">
  <div class="btn-group" role="group">
    <a href="https://github.com/mauragas/Mauragas.github.io" type="button" class="btn btn-dark">Page files</a>
    <a href="https://github.com/mauragas/Mauragas.github.io/tree/develop" type="button" class="btn btn-dark">Source
      code</a>
    <a href="https://github.com/mauragas/Mauragas.github.io/tree/articles" type="button" class="btn btn-dark">Article
      files</a>
  </div>
</div>
<br />
