@inherits PageCardBase

<a href="@PageFileInfo.Path/@PageFileInfo.FileName" class="card bg-dark text-light"
  style="text-decoration: none;">
  <div class="card-body">
    <h5 class="card-title">@PageFileInfo.Title</h5>
    <p class="card-text">@PageFileInfo.Description</p>
  </div>
</a>
